$list-spacing: 6px;

.page-conteiner {
  min-height: 100vh;
  max-width: 980px;
  margin: 0 auto;
  background: rgb(245, 202, 121);
}
.product-list {
  padding: $list-spacing;
  &__item {
    padding: $list-spacing;
  }
}
